In [21]:
import pandas as pd

# Ajuster les paramètres pour afficher toutes les lignes et colonnes
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)


df_incidents = pd.read_csv("../data/Incidents.csv", sep=";", index_col=0, low_memory=False)
df_mobilisations = pd.read_csv("../data/Mobilisation.csv", sep=";", index_col=0,low_memory=False)

display(df_incidents.head())
display(df_incidents.info())
display(df_incidents.describe())

display(df_mobilisations.head())
display(df_mobilisations.info())
display(df_mobilisations.describe())

,IncidentNumber,DateOfCall,CalYear,TimeOfCall,HourOfCall,IncidentGroup,StopCodeDescription,SpecialServiceType,PropertyCategory,PropertyType,AddressQualifier,Postcode_full,Postcode_district,UPRN,USRN,IncGeo_BoroughCode,IncGeo_BoroughName,ProperCase,IncGeo_WardCode,IncGeo_WardName,IncGeo_WardNameNew,Easting_m,Northing_m,Easting_rounded,Northing_rounded,Latitude,Longitude,FRS,IncidentStationGround,FirstPumpArriving_AttendanceTime,FirstPumpArriving_DeployedFromStation,SecondPumpArriving_AttendanceTime,SecondPumpArriving_DeployedFromStation,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpMinutesRounded,Notional Cost (£),NumCalls
0,235138081,2009-01-01,2009,1900-01-01 00:00:37,0,Special Service,Special Service,RTC,Road Vehicle,Car,In street close to gazetteer location,SW11 4LB,SW11,NaN,NaN,E09000032,WANDSWORTH,Wandsworth,E05014010,Battersea Park,Battersea Park,528652.0,176830.0,528650,176850,51.475812,-0.148894,London,Battersea,319.0,Battersea,342.0,Clapham,2.0,2.0,2,60,255,1.0
1,1091,2009-01-01,2009,1900-01-01 00:00:46,0,Special Service,Special Service,Assist other agencies,Outdoor,Lake/pond/reservoir,Open land/water - nearest gazetteer location,SE1 7SG,SE1,NaN,NaN,E09000022,LAMBETH,Lambeth,E05014118,Waterloo & South Bank,Waterloo & South Bank,530485.0,179007.0,530450,179050,51.494957,-0.121712,London,Lambeth,NaN,NaN,NaN,NaN,NaN,NaN,1,60,255,1.0
2,2091,2009-01-01,2009,1900-01-01 00:03:00,0,Fire,Secondary Fire,NaN,Outdoor,Road surface/pavement,In street outside gazetteer location,N9 9EL,N9,NaN,NaN,E09000010,ENFIELD,Enfield,E05013682,Haselbury,Haselbury,533773.0,194492.0,533750,194450,51.633342,-0.068488,London,Edmonton,308.0,Edmonton,NaN,NaN,1.0,1.0,1,60,255,2.0
3,3091,2009-01-01,2009,1900-01-01 00:04:27,0,Fire,Secondary Fire,NaN,Outdoor,Domestic garden (vegetation not equipment),On land associated with building,UB10 0DG,UB10,1.000215e+11,21401491.0,E09000017,HILLINGDON,Hillingdon,E05013571,Hillingdon East,Hillingdon East,507738.0,182805.0,507750,182850,51.533882,-0.448089,London,Hillingdon,210.0,Hillingdon,NaN,NaN,1.0,1.0,1,60,255,2.0
4,5091,2009-01-01,2009,1900-01-01 00:05:39,0,Fire,Secondary Fire,NaN,Outdoor,Cycle path/public footpath/bridleway,In street outside gazetteer location,N7 8HG,N7,NaN,NaN,E09000019,ISLINGTON,Islington,E05013708,Laycock,Laycock,531058.0,185307.0,531050,185350,51.551441,-0.111120,London,Holloway,233.0,Holloway,250.0,Holloway,1.0,2.0,2,60,255,1.0

<class 'pandas.core.frame.DataFrame'>
Index: 1771413 entries, 0 to 1771412
Data columns (total 39 columns):
 #   Column                                  Dtype
---  ------                                  -----
 0   IncidentNumber                          object
 1   DateOfCall                              object
 2   CalYear                                 int64
 3   TimeOfCall                              object
 4   HourOfCall                              int64
 5   IncidentGroup                           object
 6   StopCodeDescription                     object
 7   SpecialServiceType                      object
 8   PropertyCategory                        object
 9   PropertyType                            object
 10  AddressQualifier                        object
 11  Postcode_full                           object
 12  Postcode_district                       object
 13  UPRN                                    float64
 14  USRN                                    float64
 15  IncGeo_BoroughCode                      object
 16  IncGeo_BoroughName                      object
 17  ProperCase                              object
 18  IncGeo_WardCode                         object
 19  IncGeo_WardName                         object
 20  IncGeo_WardNameNew                      object
 21  Easting_m                               float64
 22  Northing_m                              float64
 23  Easting_rounded                         int64
 24  Northing_rounded                        int64
 25  Latitude                                float64
 26  Longitude                               float64
 27  FRS                                     object
 28  IncidentStationGround                   object
 29  FirstPumpArriving_AttendanceTime        float64
 30  FirstPumpArriving_DeployedFromStation   object
 31  SecondPumpArriving_AttendanceTime       float64
 32  SecondPumpArriving_DeployedFromStation  object
 33  NumStationsWithPumpsAttending           float64
 34  NumPumpsAttending                       float64
 35  PumpCount                               int64
 36  PumpMinutesRounded                      int64
 37  Notional Cost (£)                       int64
 38  NumCalls                                float64
dtypes: float64(11), int64(7), object(21)
memory usage: 540.6+ MB

None

,CalYear,HourOfCall,UPRN,USRN,Easting_m,Northing_m,Easting_rounded,Northing_rounded,Latitude,Longitude,FirstPumpArriving_AttendanceTime,SecondPumpArriving_AttendanceTime,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpMinutesRounded,Notional Cost (£),NumCalls
count,1.771413e+06,1.771413e+06,1.630080e+06,1.608542e+06,886544.000000,886544.000000,1.771413e+06,1.771413e+06,886544.000000,886544.000000,1.635724e+06,633568.00000,1.757310e+06,1.757310e+06,1.771413e+06,1.771413e+06,1.771413e+06,1.769564e+06
mean,2.016456e+03,1.346887e+01,2.192842e+10,2.031355e+07,530632.668589,180365.050822,5.306598e+05,1.804883e+05,51.445867,-0.118837,3.182711e+02,395.38522,1.369216e+00,1.554288e+00,1.591798e+00,7.629298e+01,4.039678e+02,1.329551e+00
std,4.776673e+00,6.252623e+00,4.753228e+10,4.378135e+06,10336.679483,7434.831140,9.725543e+03,7.357290e+03,1.775330,0.148994,1.386791e+02,153.33425,6.836639e-01,8.418938e-01,1.586884e+00,5.678902e+02,2.710555e+03,1.488664e+00
min,2.009000e+03,0.000000e+00,0.000000e+00,0.000000e+00,503582.000000,155901.000000,5.035500e+05,1.559500e+05,0.000000,-0.510155,1.000000e+00,1.00000,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+01,2.550000e+02,1.000000e+00
25%,2.012000e+03,9.000000e+00,0.000000e+00,2.040096e+07,525185.000000,175989.000000,5.252500e+05,1.761500e+05,51.468944,-0.197424,2.310000e+02,295.00000,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+01,2.600000e+02,1.000000e+00
50%,2.017000e+03,1.400000e+01,0.000000e+00,2.120127e+07,530797.000000,180982.000000,5.309500e+05,1.810500e+05,51.512881,-0.116981,2.960000e+02,369.00000,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+01,3.280000e+02,1.000000e+00
75%,2.021000e+03,1.900000e+01,1.001319e+10,2.210116e+07,536834.000000,184939.000000,5.362500e+05,1.851500e+05,51.547757,-0.028701,3.780000e+02,464.00000,2.000000e+00,2.000000e+00,2.000000e+00,6.000000e+01,3.640000e+02,1.000000e+00
max,2.024000e+03,2.300000e+01,2.000044e+11,9.999042e+07,561126.000000,200906.000000,6.111500e+05,3.024500e+05,51.691670,0.322219,1.200000e+03,1200.00000,4.600000e+01,1.060000e+02,9.510000e+02,5.256290e+05,2.277726e+06,3.690000e+02

,IncidentNumber,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,AttendanceTimeSeconds,DateAndTimeLeft,DateAndTimeReturned,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description,PumpSecondsOnSite_min,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_max
0,235138081,2009,0,38426,H271,1,2009-01-01 00:02:00,NaN,2009-01-01 00:07:00,319,2009-01-01 00:16:00,2009-01-01 00:23:00,H27,Battersea,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,240.0,540.0,253.0,253.0,89.0,89.0
2,2091,2009,0,38429,A341,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:09:00,308,2009-01-01 00:16:00,2009-01-01 00:17:00,A34,Edmonton,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,420.0,420.0,151.0,151.0,157.0,157.0
3,3091,2009,0,38430,G232,1,2009-01-01 00:04:00,2009-01-01 00:06:00,2009-01-01 00:08:00,210,2009-01-01 00:20:00,2009-01-01 00:20:00,G23,Hillingdon,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,720.0,720.0,108.0,108.0,102.0,102.0
4,5091,2009,0,38432,A311,1,2009-01-01 00:06:00,2009-01-01 00:07:00,2009-01-01 00:09:00,233,2009-01-01 00:11:00,2009-01-01 00:22:00,A31,Holloway,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,120.0,120.0,114.0,142.0,108.0,119.0
6,6091,2009,0,38434,A432,1,2009-01-01 00:06:00,2009-01-01 00:07:00,2009-01-01 00:09:00,172,2009-01-01 00:15:00,2009-01-01 00:23:00,A43,Kentish Town,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,360.0,360.0,83.0,95.0,89.0,127.0

<class 'pandas.core.frame.DataFrame'>
Index: 1642042 entries, 0 to 2480003
Data columns (total 26 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   IncidentNumber            1642042 non-null  object
 1   CalYear                   1642042 non-null  int64
 2   HourOfCall                1642042 non-null  int64
 3   ResourceMobilisationId    1642042 non-null  int64
 4   Resource_Code             1642042 non-null  object
 5   PerformanceReporting      1642042 non-null  object
 6   DateAndTimeMobilised      1642042 non-null  object
 7   DateAndTimeMobile         1620627 non-null  object
 8   DateAndTimeArrived        1642042 non-null  object
 9   AttendanceTimeSeconds     1642042 non-null  int64
 10  DateAndTimeLeft           1605008 non-null  object
 11  DateAndTimeReturned       662215 non-null   object
 12  DeployedFromStation_Code  1642025 non-null  object
 13  DeployedFromStation_Name  1642025 non-null  object
 14  DeployedFromLocation      1641398 non-null  object
 15  PumpOrder                 1642042 non-null  int64
 16  PlusCode_Code             1642042 non-null  object
 17  PlusCode_Description      1642042 non-null  object
 18  DelayCodeId               472034 non-null   float64
 19  DelayCode_Description     472034 non-null   object
 20  PumpSecondsOnSite_min     1612710 non-null  float64
 21  PumpSecondsOnSite_max     1612710 non-null  float64
 22  TurnoutTimeSeconds_min    1624689 non-null  float64
 23  TurnoutTimeSeconds_max    1624689 non-null  float64
 24  TravelTimeSeconds_min     1624692 non-null  float64
 25  TravelTimeSeconds_max     1624692 non-null  float64
dtypes: float64(7), int64(5), object(14)
memory usage: 338.3+ MB

None

,CalYear,HourOfCall,ResourceMobilisationId,AttendanceTimeSeconds,PumpOrder,DelayCodeId,PumpSecondsOnSite_min,PumpSecondsOnSite_max,TurnoutTimeSeconds_min,TurnoutTimeSeconds_max,TravelTimeSeconds_min,TravelTimeSeconds_max
count,1.642042e+06,1.642042e+06,1.642042e+06,1.642042e+06,1.642042e+06,472034.000000,1.612710e+06,1.612710e+06,1.624689e+06,1.624689e+06,1.624692e+06,1.624692e+06
mean,2.016567e+03,1.342830e+01,4.812955e+06,3.233680e+02,1.051394e+00,10.461713,9.351513e+02,1.177427e+03,7.148163e+01,8.616234e+01,2.418839e+02,2.922149e+02
std,4.766098e+00,6.272730e+00,1.352174e+06,1.434424e+02,2.741799e-01,2.222790,1.401775e+03,1.702221e+03,4.036752e+01,4.899994e+01,1.370119e+02,1.613471e+02
min,2.009000e+03,0.000000e+00,3.842600e+04,0.000000e+00,1.000000e+00,3.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.012000e+03,9.000000e+00,3.991305e+06,2.330000e+02,1.000000e+00,9.000000,2.400000e+02,3.600000e+02,4.800000e+01,6.000000e+01,1.530000e+02,1.840000e+02
50%,2.017000e+03,1.400000e+01,4.875912e+06,2.990000e+02,1.000000e+00,12.000000,5.400000e+02,6.600000e+02,6.700000e+01,7.900000e+01,2.180000e+02,2.630000e+02
75%,2.021000e+03,1.900000e+01,5.852055e+06,3.840000e+02,1.000000e+00,12.000000,1.020000e+03,1.260000e+03,8.800000e+01,1.030000e+02,3.010000e+02,3.650000e+02
max,2.024000e+03,2.300000e+01,6.808854e+06,1.200000e+03,9.000000e+00,13.000000,4.596000e+04,6.432000e+04,1.192000e+03,1.192000e+03,1.198000e+03,1.198000e+03

In [22]:
# Conversion des dates

# DateOfCall 09-Aug-21
# TimeOfCall 00:04:25
# DateAndTimeMobilised 01/01/2018 00:04
# DateAndTimeMobile 01/01/2018 00:04
# DateAndTimeArrived 01/01/2018 00:04
# DateAndTimeLeft 01/01/2018 00:16
# DateAndTimeReturned 01/01/2018 00:16

# pd.to_datetime('2030-26-10', format='%Y-%d-%m')
# pd.to_datetime('2018-10-26 12:00:00', format='%Y-%m-%d %H:%M:%S')

df_incidents.DateOfCall = pd.to_datetime(df_incidents.DateOfCall)
df_incidents.TimeOfCall = pd.to_datetime(df_incidents.TimeOfCall)
df_mobilisations.DateAndTimeMobilised = pd.to_datetime(df_mobilisations.DateAndTimeMobilised)
df_mobilisations.DateAndTimeMobile = pd.to_datetime(df_mobilisations.DateAndTimeMobile)
df_mobilisations.DateAndTimeArrived = pd.to_datetime(df_mobilisations.DateAndTimeArrived)
df_mobilisations.DateAndTimeLeft = pd.to_datetime(df_mobilisations.DateAndTimeLeft)
df_mobilisations.DateAndTimeReturned = pd.to_datetime(df_mobilisations.DateAndTimeReturned)

In [ ]:
print(df_incidents.shape)
print(df_mobilisations.shape)

# Merge
df = pd.merge(
    df_incidents,
    df_mobilisations,
    left_on="IncidentNumber",
    right_on="IncidentNumber",
    how="left",
)
df = df.reset_index(drop=True)

df = df.rename({"CalYear_x": "CalYear", "HourOfCall_x": "HourOfCall"}, axis=1)
df = df.drop(["CalYear_y", "HourOfCall_y"], axis=1)

print(df.shape)
display(df.head())
display(df.info())
display(df.describe())

(1771413, 39)
(1642042, 26)

KeyError: "['CalYear_y', 'HourOfCall_y'] not found in axis"

In [ ]:
df.to_csv("../data/Merge.csv", sep=';')